@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin:  40px;
    top: 25%;
    color: aliceblue;
    position: absolute;
    text-transform: uppercase;
}

.Countdown{
    display: flex;
    transform: scale(2);
    position: absolute;
    top : 50%;
    color: aliceblue;
}

#back-video{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}


@media(max-width:500px){
    h1{
        font-size: 45px;
    }

    .time{
        margin: 5px;
    }

    .time h2{
        font-size: 12px;
    }
    .time small{
        font-size: 10px;
    }
}